.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.add-img-upload img {
    width: 120px;
    height: auto;
    border-radius: 5px;
}

.add-product-name, 
.add-product-description {
    width: max(40%, 280px);
    display: flex;
    flex-direction: column;
}

.add-product-name input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.add-product-description textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.add-category-price {
    display: flex;
    gap: 20px; /* Adjust gap between all items */
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
}

.add-category-price select,
.add-category-price input {
    flex: 1; /* Ensures equal width distribution */
    min-width: 100px; /* Prevents shrinking too much */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.add-btn {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-btn:hover {
    background-color: #333;
}
