/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for the AllMenu container */
body {
    overflow-y: auto;
    /* Ensure scrollability */
}

/* Header Section */
.app__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    border-radius: 10px;
}

.app__wrapper_info {
    flex: 1;
    margin-top: 5rem;
    text-align: left;
}

.app__wrapper_img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__wrapper_img img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    object-fit: contain;
}

/* Typography */
.app__header-h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(252, 232, 181);
    padding-left: 40px;
    letter-spacing: 0.04rem;
    line-height: 1.3;
    font-size: 8.0rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.app__header-p {
    margin: 2.5rem 0;
    font-size: 2.0rem;
    line-height: 1.6;
    width: 80%;
    padding-left: 40px;
    color: #ccc;
}

/* Responsive adjustments for smaller devices */
@media (max-width: 768px) {
    .app__header-p {
        font-size: 2.0rem; /* Keep font size large for tablets */
        width: 90%;        /* Increase width for better readability */
        padding-left: 20px; /* Reduce padding */
        line-height: 1.8;   /* Increase line-height for better readability */
    }
}

@media (max-width: 480px) {
    .app__header-p {
        font-size: 1.8rem; /* Larger font size for small screens */
        width: 95%;        /* Nearly full width */
        padding-left: 10px; /* Reduce padding */
        line-height: 1.8;   /* Adjust line height */
    }
}


/* Menu Content Section */
.app__menu-content {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 1280px) {
    .app__header-h1 {
        font-size: 3rem;
        line-height: 1.2;
    }

    .app__header-p {
        font-size: 1rem;
    }

    .app__wrapper_img img {
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .app__header {
        flex-direction: column;
        text-align: center;
    }

    .app__wrapper_info {
        margin-top: 2rem;
    }

    .app__header-h1 {
        font-size: 2.5rem;
    }

    .app__header-p {
        font-size: 0.9rem;
    }

    .app__wrapper_img img {
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .app__header-h1 {
        font-size: 2rem;
        line-height: 1.1;
    }

    .app__header-p {
        font-size: 0.85rem;
    }

    .app__wrapper_img img {
        max-width: 250px;
    }
}
